# 1
## Type

In [1]:
print(type(1))
print(type("Hello"))
print(type(None))
print(type(int))
print(type(type(int)))

<class 'int'>
<class 'str'>
<class 'NoneType'>
<class 'type'>
<class 'type'>

Python有两种数字的type int和float <br/>
*关于几个特殊运算：/是小数除法 //是除法取整 %取余 ** 乘方* <br/>
bool是一种特殊的int类型 <br/>
strings：Python里面没有char类型

## Indexing

如果从前往后数的话从0开始，最后一个用-1表示，倒数第二个-2

## Slicing

In [2]:
s = 'Arthur'

In [3]:
type(s)

str

In [4]:
s[0:2] #取第0、1号位置上的，取前不取后

'Ar'

In [5]:
s[:2] #也是从0开始

'Ar'

In [6]:
s[3:] #从3取到最后

'hur'

In [7]:
s[1:5:2] #每隔一个取序号为1-4

'rh'

In [8]:
s[4::-2] #从序号为4的每隔1个取到头

'utA'

In [9]:
s[::-1] #reverse

'ruhtrA'

## Converting Values 强制类型转换

In [10]:
str(42)

'42'

In [11]:
int("2")

2

In [12]:
float("1")

1.0

In [20]:
len(numbers) #元素个数

5

In [21]:
len(x) #同样是元素个数

2

In [22]:
4 in numbers

True

# 2

## Relation Operators

## If-else

In [26]:
a = input('enter a pos int:')
print(type(a)) #a默认不是int类型的
x = int(a) #这一句要转换a的类型
if x%2==0: #记得要写冒号
    print(x/2)
else:
    print((x+1)/2)
#还可以写“elif 条件：”

enter a pos int:4
<class 'str'>
2.0

*Python里面没有switch语句*

## For Loop

In [32]:
x = list(range(5,10)) #两边是圆括号，中间用逗号分隔，依旧是取前不取后;要转化成list型的，不然是range类型
x

[5, 6, 7, 8, 9]

In [33]:
list(range(3,10,5)) #开头，结尾，步长

[3, 8]

In [36]:
for i in range(4):
    print(i,end=' ') #默认print完后换行，改了end的话就可以用别的分隔

0 1 2 3

*一些format的用法*

In [44]:
s = 'strin'
w = s+'{0}' #中括号0
w

'strin{0}'

In [45]:
w.format('*') #将{0}替换成括号里的内容

'strin*'

In [55]:
y = s+'{0}{0}'
y

'strin{0}{0}'

In [57]:
y.format(1,2) #则放置0的地方都放置第一个数字

'strin11'

In [60]:
z = s+"{0}{1}{2}"
z

'strin{0}{1}{2}'

In [63]:
z.format(1,2,7) #按顺序个给1，2，3的地方赋值

'strin127'

### str的for循环

In [66]:
s = 'abcd'
for k in s:
    print(k,end='')

abcd

### break&continue

## while loop

In [1]:
x = input("number:")
x = float(x)
L = x
W = 1
while abs(L-W)/L > 10**-12:
    L = (L+W)/2
    W = x/L
print(L) #用来求x的平方根 辗转相除法

number:4
2.000000000000002

# 3 Data Structure

## Lists：有限 有序 可变

建立空的list：lst=[] or lst=list(）<br/>
就是说用[]和用list函数是一样的

In [13]:
lst = [1,2,3,4]
type(lst)

list

In [2]:
mylist1 = mylist2 = [] #1和2共用同一个空间，1变化2也会变化
mylist5 = []
mylist6 = [] #5和6的地址不一样

*可以包括不同类型的元素，包括lists*

In [21]:
empty = [] #置空
letters = ['a','b','m','a','t']
numbers = [1,4,2,8]
mix = [2,5,'wns']

### 索引和切片操作和str是一样的

In [22]:
numbers[0]

1

In [23]:
x = [letters,numbers] #list里面包含list

In [24]:
x[0]

['a', 'b', 'm', 'a', 't']

In [25]:
x[0][:3] #编号为0的元素里取编号0-2的

['a', 'b', 'm']

### list常用的函数

In [26]:
numbers.append(7) #添加元素
print(numbers)
numbers.append([45,9]) #添加一个list型的元素
numbers

[1, 4, 2, 8, 7]

[1, 4, 2, 8, 7, [45, 9]]

In [27]:
numbers.extend([45,9]) #一次性添加好几个元素，必须要加中括号
numbers

[1, 4, 2, 8, 7, [45, 9], 45, 9]

In [39]:
mylist = [34,56,29,73,19,62]

In [40]:
mylist.insert(2,47) #在序号2的位置插入47
mylist

[34, 56, 47, 29, 73, 19, 62]

In [41]:
mylist.remove(29) #如果有多个相同的29，则只会移除第一个
print(mylist)

[34, 56, 47, 73, 19, 62]

In [42]:
mylist.pop() #弹出最后一个值，有返回值，remove没有返回值；结合append可以作为栈，后进先出

62

In [48]:
lst1 = [23,444,29,29,14,756,85,3]
lst1.count(29) #计算29在mylist里出现了几次

2

In [55]:
print(lst1.index(29)) #找29在lst1中的位置（如果有多个的话只会找第一个）
print(lst1.index(29,3,7)) #找从第3个到第7个里面第一个出现的29在整个序列中的位置

2
3